.btn1 {
    margin-top: 0.8rem;
    width: 80%;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.4rem;
    color: #fefefe;
    border-radius: 1.28rem;
    background-color: #ebebeb;
    // background: -webkit-gradient(linear, left top, right top, from(#ff9a34), to(#ff4d4a));
    border: none;
}

.btn2 {
    background: -webkit-gradient(linear, left top, right top, from(#ff9a34), to(#ff4d4a));
    margin-top: 0.8rem;
    width: 80%;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.4rem;
    color: #fefefe;
    border-radius: 1.28rem;
    border: none;
}

.login {
    text-align: center;
    margin-top: 2rem;

    input {
        padding-left: 0.2rem;
        width: 80%;
        height: 0.8rem;
        background: none;
        border: none;
        // border-bottom: 0.02133rem solid rgb(216, 29, 29);
        border-bottom: 0.02133rem solid #666;
        font-size: 0.4rem;
        padding: 0.2rem 0;
    }

    .btn {
        margin-top: 0.8rem;
        width: 80%;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: 0.4rem;
        color: #fefefe;
        border-radius: 1.28rem;
        background-color: #ebebeb;
        // background: -webkit-gradient(linear, left top, right top, from(#ff9a34), to(#ff4d4a));
        border: none;
    }

    .btns {
        background: -webkit-gradient(linear, left top, right top, from(#ff9a34), to(#ff4d4a));
        margin-top: 0.8rem;
        width: 80%;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: 0.4rem;
        color: #fefefe;
        border-radius: 1.28rem;
        border: none;
    }

    .btn-botton {
        margin-top: 2rem;
        width: 80%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        span {
            margin-left: 1rem;
            font-size: 0.4rem;

        }
    }
}

.login2 {
    text-align: center;
    margin-top: 2rem;

    input {
        padding-left: 0.2rem;
        width: 80%;
        height: 0.8rem;
        background: none;
        border: none;
        // border-bottom: 0.02133rem solid rgb(216, 29, 29);
        border-bottom: 0.02133rem solid #666;
        font-size: 0.4rem;
        padding: 0.2rem 0;
    }

    .btn {
        margin-top: 0.8rem;
        width: 80%;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: 0.4rem;
        color: #fefefe;
        border-radius: 1.28rem;
        // background-color: #ebebeb;
        background: -webkit-gradient(linear, left top, right top, from(#ff9a34), to(#ff4d4a));
        border: none;
    }

    .btn-botton {
        margin-top: 2rem;
        width: 80%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        span {
            margin-left: 1rem;
            font-size: 0.4rem;

        }
    }
}

.other {
    text-align: center;

    margin-top: 2rem;


    img {

        width: 3rem;

    }



}